/* $green: rgb(30, 215, 96);
$light-black: rgb(40, 40, 40);
$black: rgb(24, 24, 24);
$grey: rgb(170, 170, 170);
$sand: rgb(200, 200, 200);
$white: rgb(255, 255, 255);
$blue: #4688d7; */
body {
    background-color: rgb(40,40,40);
  
    color: rgb(255, 255, 255);
    font-family: Circular, Helvetica arial, sans-serif;
    margin: 70px;
  }
#header{
    color:white;
}

#loginPage{
text-align: center;
}

#loginbtn{
  position: relative;
  text-align: center;
}


#desc{
  color: rgb(170,170,170);
}



#github{
  color: rgb(170,170,170);
  display: inline-block;
}
#github:hover{
  color:rgb(220,220,220);

}

